version: '3'

services:
    rabbitmq:
        container_name: rabbitmq
        image: 'rabbitmq:3.10.5-management'
        restart: unless-stopped
        ports:
            - 5672:15672
        environment:
            - RABBITMQ_DEFAULT_USER=guest
            - RABBITMQ_DEFAULT_PASS=guest
        networks:
            - shared_network
            - librarify_network
            
    php:
        container_name: librarify_php
        user: "${UID}:${GID}"
        build:
            context: .
            dockerfile: .docker/php/Dockerfile
            args:
                TIMEZONE: Europe/Madrid
        volumes:
            - ./:/var/www/librarify/
        extra_hosts:
            - "host.docker.internal:host-gateway"
        networks:
            - librarify_network

    nginx:
        container_name: librarify_nginx
        build:
            context: .
            dockerfile: .docker/nginx/Dockerfile
        volumes:
            - ./:/var/www/librarify/
        ports:
            - 83:80
        networks:
            - librarify_network
            
    db:
        container_name: librarify_db
        image: mysql:8.0.20
        command: --default-authentication-plugin=mysql_native_password
        volumes:
            - db_library:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: chopin
            MYSQL_DATABASE: library
            MYSQL_USER: nil
            MYSQL_PASSWORD: chopin
        ports:
            - 3307:3306
        networks:
            - librarify_network

volumes:
    librarifyback_app_sync:
        external: true
    db_library:
    rabbitmq:

networks:
    librarify_network:
    shared_network:
        name: librarify_shared_network  
        driver: bridge
