<footer style="background-color: #f8f9fa; padding: 20px 0; text-align: center; border-top: 1px solid #e7e7e7;">
    <div class="container">
        <p>&copy; {{ "now"|date("Y") }} YourCompanyName. All rights reserved.</p>
        <p>
            Follow us on:
            <a href="https://facebook.com" target="_blank">Facebook</a> |
            <a href="https://twitter.com" target="_blank">Twitter</a> |
            <a href="https://instagram.com" target="_blank">Instagram</a>
        </p>
    </div>
</footer>
