<header style="background-color: #343a40; padding: 20px 0; text-align: center;">
    <nav>
        <a href="{{ path('home_get') }}" style="color: #ffffff; margin-right: 20px; text-decoration: none;">Home</a>
        <a href="{{ path('get_books') }}" style="color: #ffffff; margin-right: 20px; text-decoration: none;">Books</a>
        <a href="{{ path('get_authors') }}" style="color: #ffffff; text-decoration: none;">Authors</a>
    </nav>
</header>