{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partials/header.html.twig' %}

    <div class="container mx-auto">
        {% include 'partials/books_content.html.twig' %}
    </div>

    {% include 'partials/footer.html.twig' %}
{% endblock %}
